<IfModule mod_rewrite.c>
	
	Options +FollowSymLinks

	RewriteEngine on
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d

		# For Eny URL Without Main Page
	RewriteRule ^(.*)$ index.php [L]

		# For The Main Page URL
	RewriteRule ^(/)?$ index.php [L]
	
</IfModule>